{% extends 'components/header.html.twig' %}

{% block body %}
  <div class="content-wrapper h-full flex justify-center items-center">
    <div class="item-wrapper flex flex-col justify-center">
        <div class="text-6xl m-2">
            ConnectMe!
        </div>

        <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">
            <a href="">Get Started !</a>
        </button>
    <div>
  </div>
{% endblock %}