{% block header %}
    <header class="flex justify-between border-b border-gray-500">
      <div class="app-title flex items-center">
        <a href="{{ path('index') }}" class="text-2xl font-bold mx-2">ConnectMe!</a>
      </div>
      <div class="app-menu flex items-center">
        <a href="{{ path('list') }}" class="mx-2">Liste de contact</a>
        <a href="{{ path('add') }}" class="mx-2">Ajouter un contact</a>
      </div>
    </header>
{% endblock %}